`Pair programming Limpieza II`


1. Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores únicos y esto hace que sea muy difícil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las más comunes, que incluyen el tiburón blanco (White), el tiburón tigre (Tiger ), el tiburón gris (Grey), el tiburón limón (Lemon) y el tiburón toro (Bull). El resto de las especies las incluiremos en un único grupo que podremos llamar "Unspecified". 
Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categorías que hemos definido previamente. 

Tendremos que crearnos una función que aplicaremos sobre nuestra columna species_ para que nos devuelva una nueva columna con los valores clasificados en función de los patrones de regex que hayamos definido.

Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aquí unas 💡 pistas 💡 para que os ayuden a entender cómo hacerlo.

In [25]:
# imaginemos que el valor de una celda es el siguiente

'White shark, 3.5 m'

# tendremos que buscar el patrón de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 
# Un patrón que podriamos usar es: 

patron_blanco = r".*[Ww](hite|HITE).*" # esto podría ser así porque puede estar en mayúsculas o en minúsculas. 

# de la misma forma que hemos sacado el patron para el tiburón blanco, tendremos que sacar los patrones para las otras 
# 4 especies que queremos "encontrar".

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable
import regex as re

In [27]:
df=pd.read_csv('../Datos/attacks_limpieza_I.csv')
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species,siglo,species_,injury,mes,fatal_bien,genero_bien
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,siglo - XXI,NaN,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,siglo - XXI,NaN,FATAL,Jun,Y,M

In [28]:
df['species'].value_counts()

White shark                                       74
4' shark                                          34
Tiger shark                                       34
Bull shark                                        28
Shark involvement not confirmed                   26
                                                  ..
Bronze whaler shark, 2.4 m [8']                    1
Tiger shark, 2.4 m to 3.7 m [8' to 12']            1
Raggedtooth shark, 1.5 to 2 m [5' to 6.75']        1
Thought to involve a 2.5 m bull or tiger shark     1
Identified as C. gangeticus by Dr. J. Fayrer       1
Name: species, Length: 834, dtype: int64

In [29]:
def renombrar_tiburones(x):
    blanco = re.findall(".*[Ww](hite|HITE).*", str(x))
    tigre = re.findall(".*[Tt](iger|IGER).*", str(x))
    gris = re.findall(".*[Gg](rey|REY).*", str(x))
    limon = re.findall(".*[Ll](emon|EMON).*", str(x))
    toro = re.findall(".*[Bb](ull|ULL).*", str(x))

    if blanco:
        return ('White')
    elif tigre:
        return ('Tiger')
    elif gris:
        return ('Grey')
    elif limon:
        return ('Lemon')
    elif toro:
        return ('Bull')
    else:
        return np.nan

df['categorias_tiburones']= df['species'].apply(renombrar_tiburones)

In [30]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species,siglo,species_,injury,mes,fatal_bien,genero_bien,categorias_tiburones
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,siglo - XXI,NaN,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,siglo - XXI,NaN,FATAL,Jun,Y,M,Tiger

In [31]:
df['categorias_tiburones'].value_counts()

White    379
Tiger    152
Bull      99
Grey      29
Lemon     11
Name: categorias_tiburones, dtype: int64

2. Columna de age: es una columna de tipo string pero debería ser de tipo integer. Además, en esta columna nos vamos a encontrar con algunos errores tipográficos, estos incluyen:
Edad en formato string
Edades separadas por &, or, to, >
Edades con ?
Vamos con algunas 💡 pistas 💡 para que os ayuden a entender cómo hacerlo:
Primero tendremos que eliminar todos esos símbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los números que es lo que nos interesa. Usar este regex en una función para sacar solo los números.
Puede que os salga un error similar a este:
TypeError: expected string or bytes-like object
Para solucionar este problema, antes de nada tendréis que ejecutar este código para que no os de error:
df['nombre_columna'] = df['nombre_columna'].astype(str)
Una vez que hayáis extraido los números, os daréis cuenta que hay celdas que tienen más de una edad. Tendréis que decidir que hacer en esos casos. Os dejamos por aquí una posible opción usando un método de Pandas que os puede resultar super útil. El método explode, aqui.
Por último cambiad el tipo de la columna de string a integer.

In [32]:
df['age'] = df['age'].astype(str)

In [33]:
df['age'].value_counts()

nan         154
19           70
18           60
20           58
15           57
           ...
64            1
74            1
40s           1
60s           1
13 or 14      1
Name: age, Length: 95, dtype: int64

In [34]:
lista_edad=['57', '18', '15', '32', '21', '30', '60', '33', '19', '25', '10',
       '69', '55', '35', '20', '54', '22', '31', '40', '37', '11', '13',
       '34', '50', '46', '48', '17', '28', '65', '73', '58', '36', '60s',
       '51', '61', '59', '42', '6', '27', '23', '29', '39', '24', '12',
       '26', '71', '43', '9', '44', '14', '62', '52', '38', '68', '16',
       '47', '63', '70', '41', '40s', '53', '20s', '7', '66', '45', '74',
       '64', '8', '56', '49', '18 or 20', 'Teen', '30s', '77', '8 or 10',
       '84', '\xa0 ', ' ', '30 or 36', '6½', '5', ' 30', ' 28', "60's",
       '67', '>50', '? & 19', '21, 34,24 & 35', '30 & 32', '13 or 18',
       '7 or 8', '9 or 10', 'nan', 'young', '13 or 14']

In [35]:
edad = re.findall("\d{1,2}", str(lista_edad))
print(edad)

['57', '18', '15', '32', '21', '30', '60', '33', '19', '25', '10', '69', '55', '35', '20', '54', '22', '31', '40', '37', '11', '13', '34', '50', '46', '48', '17', '28', '65', '73', '58', '36', '60', '51', '61', '59', '42', '6', '27', '23', '29', '39', '24', '12', '26', '71', '43', '9', '44', '14', '62', '52', '38', '68', '16', '47', '63', '70', '41', '40', '53', '20', '7', '66', '45', '74', '64', '8', '56', '49', '18', '20', '30', '77', '8', '10', '84', '0', '30', '36', '6', '5', '30', '28', '60', '67', '50', '19', '21', '34', '24', '35', '30', '32', '13', '18', '7', '8', '9', '10', '13', '14']

In [36]:

def edades(x):
    try: 
        edad = re.findall("\d{1,2}", str(x))
        return edad
    except:
      return np.nan
  
  
df['edades']= df['age'].apply(edades)

In [37]:
df=df.explode('edades')

In [38]:
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species,siglo,species_,injury,mes,fatal_bien,genero_bien,categorias_tiburones,edades
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,siglo - XXI,NaN,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White,57
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,siglo - XXI,NaN,FATAL,Jun,Y,M,Tiger,18
2,2018.05.26.b,2018,Unprovoked,usa,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",siglo - XXI,NaN,Lower left leg bitten,May,N,M,Bull,15
3,2018.05.24,2018,Provoked,australia,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,siglo - XXI,NaN,Minor bite to hand by captive shark. PROVOKED ...,May,N,M,Grey,32
4,2018.05.13.a,2018,Invalid,england,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,siglo - XXI,NaN,Injured by teeth of a dead porbeagle shark he ...,May,N,M,NaN,21

In [39]:
df['case_number'].duplicated().sum()

11

In [40]:
df.drop_duplicates(subset = ["case_number"], inplace = True)

In [41]:
df['edades'].duplicated().sum()

1600

In [42]:
df['edades'].value_counts()

19    71
18    61
20    60
15    57
17    57
      ..
64     1
74     1
84     1
5      1
67     1
Name: edades, Length: 71, dtype: int64

In [43]:
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species,siglo,species_,injury,mes,fatal_bien,genero_bien,categorias_tiburones,edades
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,siglo - XXI,NaN,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White,57
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,siglo - XXI,NaN,FATAL,Jun,Y,M,Tiger,18
2,2018.05.26.b,2018,Unprovoked,usa,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",siglo - XXI,NaN,Lower left leg bitten,May,N,M,Bull,15
3,2018.05.24,2018,Provoked,australia,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,siglo - XXI,NaN,Minor bite to hand by captive shark. PROVOKED ...,May,N,M,Grey,32
4,2018.05.13.a,2018,Invalid,england,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,siglo - XXI,NaN,Injured by teeth of a dead porbeagle shark he ...,May,N,M,NaN,21

In [44]:
df.duplicated().sum()

0

In [45]:
df['edades']

0        57
1        18
2        15
3        32
4        21
       ...
1667    NaN
1668    NaN
1669    NaN
1670    NaN
1671     15
Name: edades, Length: 1672, dtype: object

In [46]:
df.drop('age', axis=1, inplace=True) #la eliminamos porque ya no la necesitamos
df.head(2)

,case_number,year,type,country,area,location,activity,name,time,species,siglo,species_,injury,mes,fatal_bien,genero_bien,categorias_tiburones,edades
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,18h00,White shark,siglo - XXI,NaN,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White,57
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,Late afternoon,Tiger shark,siglo - XXI,NaN,FATAL,Jun,Y,M,Tiger,18

3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.

In [47]:
df.to_csv('../Datos/attacks_limpieza_II.csv', index=False)